body {
    background-color: #190036;
    color: white;


}


#wrapper {
    border: 2px solid;
    padding: 30px;

}

#titre {

    color: white;
    font-size: 50px;
    padding-right: 10px;


}

#header {

    border: 2px solid;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}

#droite {

    float: right;
}

#navigation {

    border-left: 2px solid;
    border-right: 2px solid;
    margin: 0 auto;
    text-align: center;
    padding: 20px;

}

#navigation_admin {


    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    margin: 0 auto;
    text-align: center;

}



.bouton_accueil {
    background-image: linear-gradient(to right, #000C7B 0%, #6F71A3 51%, #7E84F7 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #6f71a3;
    border-radius: 10px;

}

#barre_recherche {
    padding-right: 100px;
    display: flex;
    height: 40px;
    margin-left: 60px;
    margin-top: 10px;

}

#encadrement_recherche {

    border-radius: 10px;
    background-color: rgb(43, 42, 40);
    width: 400px;
    

}

#slider {

    float: right;
    padding-top: 10px;
    padding-right: 70px;
}

.bouton_recherche {
    background-image: linear-gradient(to right, #000C7B 0%, #6F71A3 51%, #7E84F7 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;

}

.boutons_inter{
    background-color: rgb(215, 178, 84);
    margin: 10px;
    padding: 15px 45px;
    color: black;
    font: bold;
    text-transform: uppercase;
    background-size: 200% auto;
    border-radius: 20px;
}

.bouton_accueil:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.admin{

    border-bottom: 2px solid ;
    border-right: 2px solid;
    border-left: 2px solid;
    text-align: center;
    padding: 100px;
    padding-left: 500px;

}

#informations_admin{

    border-bottom: 2px solid ;
    border-right: 2px solid;
    border-left: 2px solid;
    padding: 100px;
    padding-left: 42%;
    justify-content: center;
    align-items: center;


}
.section {
    padding: center;
    text-align: center;;
}

.conteneur_inter {

    padding-left: center;
    display: inline-block;
    display: center;
    border: 2px solid;
    text-align: center;
    border-radius: 20px;
    width: 800px;
    height: 400px;

}

.conteneur_inter b{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

#image_inter{
    display: inline-block;
    display: center;
    padding-right: 50px;
    padding-top: 20px;
    padding-left: 20px;
}
#texte_inter{
    display: inline-block;
    text-align: justify;
    margin-bottom :50px;
}

.relations_internationales{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}


.padding_bouton {
    padding: 100px;
}


#map {
    padding-left: 100px;
}

#wrapperCarroussel {
    width: 800px;
    height: 700px;
    position: relative;
    margin: auto;
    
    border-radius: 0px;
    }
    
#titreCarroussel{
    position: absolute;
    width: 750px;
    text-align: center;
    color: black
}
#carrousel {
position: absolute;
width: 750px;
height: px;
list-style: none;
left: 0;
margin-bottom: 0;

}

#carrousel ul {
position: relative;
}

ul > li {
list-style-type: none;
position: relative;
top: 30%;
transition: 1s opacity;
}

#audio {
position: relative;
display: block;
width: 200px;
margin: 10% 0 0 35%;
align-self: center;
top: 50%;
align-self: center;
}




.prev {
position: absolute;
display: block;
margin-left: 10%;
margin-top: 40%;
color: rgb(19, 18, 18);
width: 40px;
height: 20px;
font-weight: 800;
background-color: #dacfd3;
border-radius: 5px;
border: 0px solid black;
}

.next {
position: absolute;
display: block;
margin-left: 85%;
margin-top: 40%;
color: rgb(19, 18, 18);
width: 40px;
height: 20px;
font-weight: 800;
background-color: #dacfd3;
border-radius: 5px;
border: 0px solid black;
}

.bar{
    display: flex;
    align-content: center;
}

.a{
    color: white;
    /*margin-right : 10px;*/
}

.b p{
    color: white;
    text-align: justify;
    margin-top: 30px;
    /*margin-right : 10px;*/
}

.b h2{
    text-align: center;
    margin-top: 30px;
}

.a h3{
    margin-bottom: 30px;
}

.t{
    color: black;
    text-align: justify;
    /*margin-right : 10px;*/
}

.infos{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

.caroussel{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.footer {

    padding-top: 100px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.footer p{
    text-align: center;
}
