body {
    background-color: rgba(159, 158, 183, 0.442);


}


#wrapper {
    border: 2px solid;
    padding: 30px;

}

#titre {

    color: #175f93;
    font-size: 50px;
    padding-right: 10px;


}

#header {

    border: 2px solid;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}

#droite {

    float: right;
}

#navigation {

    border-left: 2px solid;
    border-right: 2px solid;
    margin: 0 auto;
    text-align: center;
    padding: 20px;

}

#navigation_admin {


    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    margin: 0 auto;
    text-align: center;

}



.bouton_accueil {
    background-image: linear-gradient(to right, #000C7B 0%, #6F71A3 51%, #7E84F7 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;

}

#barre_recherche {
    margin: 10px;
    padding: 15px 45px;
    border-radius: 10px;
    width: 230px;


}

#encadrement_recherche {

    border-radius: 10px;
    background-color: rgb(43, 42, 40);
    width: 400px;

}

#slider {

    float: right;
    padding-top: 10px;
    padding-right: 70px;
}

.bouton_recherche {
    background-color: darkgoldenrod;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;

}

.boutons_inter{
    background-color: rgb(215, 178, 84);
    margin: 10px;
    padding: 15px 45px;
    color: black;
    font: bold;
    text-transform: uppercase;
    background-size: 200% auto;
    border-radius: 20px;
}

.bouton_accueil:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.admin{

    border-bottom: 2px solid ;
    border-right: 2px solid;
    border-left: 2px solid;
    text-align: center;
    padding: 100px;
    padding-left: 500px;

}
.section {
    border: 2px solid;
    text-align: center;
    padding: 20px;
}

#conteneur_inter {

    border: 2px solid;
    border-radius: 20px;
    background-color: rgb(79, 132, 79);
    width: 700px;
    height: 300px;

}

#image_inter{
    display: inline-block;
    padding-right: 50px;
    padding-top: 20px;
    padding-left: 20px;
}
#texte_inter{
    display: inline-block;
    margin-bottom :40px;
}

#relations_internationales{

    border: 2px solid;
    padding: 30px;
    padding-left: 320px;
}


.padding_bouton {
    padding: 100px;
}

#footer {

    border-bottom: 2px solid;
    border-right: 2px solid;
    border-left: 2px solid;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#map {
    padding-left: 100px;
}
